<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="..\static\css\inputkegiatan.css" rel="stylesheet" />
    <!-- Link to your JS file -->
    <title>YourHealth</title>
  </head>
  <body>
      <body class="transition-inactive"></body>

    <div class="video-container">
      <div class="video-item">
        <video
          src="../static/Tambahan/diet2.mp4"
          autoplay
          muted
          loop
          playsinline
        ></video>
         <button type="button" class="btn btn-lg btn-diet videotext" data-bs-toggle="modal" data-bs-target="#diet">DIET</button>
         <p class="deskripsivideotext">Perjalanan menuju tubuh ideal dengan pola makan dan gaya hidup sehat.</p>
      </div>



      <div class="video-item">
        <video
          src="../static/Tambahan/6388407-uhd_2160_3840_25fps.mp4"
          autoplay
          muted
          loop
          playsinline
        ></video>
         <button type="button" class="btn btn-lg btn-bentuktubuh videotext" data-bs-toggle="modal" data-bs-target="#bentuktubuh">BENTUK TUBUH</button>
         <p class="deskripsivideotext">Capai bentuk tubuh impian anda dengan latihan dan pola makan yang tepat</p>
      </div>
    </div>

    <!--Navbar-->
    <div class="container-fluid container1outer">
      <nav class="navbar navbar-expand-lg opacity-100">
        <a class="navbar-brand fw-bold textyourhealth" href="index.html"
          >YourHealth</a
        >
      </nav>
    </div>
    <!---->


       <!-- Button Modal diet -->
        <div
          class="modal fade"
          id="diet"
          data-bs-backdrop="static"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modalnya">
            <div class="modal-content">
          
             
                  <div class="modal-header">
                    <h5 class="modal-title fw-bold fs-3" id="exampleModalLabel">
                      MASUKKAN DATA ANDA
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3 row">
                        <div class="col">
                          <input
                            type="number"
                            class="form-control forminputdata"
                            id="inputumur"
                            placeholder="Masukkan umur anda"
                            min="1"
                            max="120"
                          />
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <div class="col">
                          <input
                            type="number"
                            class="form-control forminputdata"
                            id="inputtinggi"
                            placeholder="Masukkan tinggi anda (CM)"
                            min="1"
                            max="300"
                          />
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <div class="col">
                          <input
                            type="number"
                            class="form-control forminputdata"
                            id="inputberatbadan"
                            placeholder="Masukkan berat badan anda sekarang (Kg)"
                            min="1"
                            max="300"
                          />
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <div class="col">
                          <input
                            type="number"
                            class="form-control forminputdata"
                            id="inputberatbadan"
                            placeholder="Masukkan target berat badan anda (Kg)"
                            min="1"
                            max="300"
                          />
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <div class="col">
                          <select
                            class="form-select forminputdata"
                            aria-label="Pilih jenis kelamin"
                          >
                            <option selected hidden>Jenis kelamin</option>
                            <option value="Laki-laki">Laki-laki</option>
                            <option value="Perempuan">Perempuan</option>
                          </select>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer d-flex justify-content-start continue" id="continue">
                    <a
                      href="diet.html"
                      class="btn btn-warning tombolcontinue linktransisi fall-out-trigger" data-target="continue"
                      >Continue</a
                    >
                  </div>
                </div>
              </div>
            </div>
    
        <!---->


               <!-- Button Modal bentuk tubuh -->
        <div
          class="modal fade"
          id="bentuktubuh"
          data-bs-backdrop="static"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modalnya">
            <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title fw-bold fs-3" id="exampleModalLabel">
                      MASUKKAN DATA ANDA
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3 row">
                        <div class="col">
                          <input
                            type="number"
                            class="form-control forminputdata"
                            id="inputumur"
                            placeholder="Masukkan umur anda"
                            min="1"
                            max="120"
                          />
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <div class="col">
                          <input
                            type="number"
                            class="form-control forminputdata"
                            id="inputtinggi"
                            placeholder="Masukkan tinggi anda (CM)"
                            min="1"
                            max="300"
                          />
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <div class="col">
                          <input
                            type="number"
                            class="form-control forminputdata"
                            id="inputberatbadan"
                            placeholder="Masukkan berat badan anda sekarang (Kg)"
                            min="1"
                            max="300"
                          />
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <div class="col">
                          <select
                            class="form-select forminputdata"
                            aria-label="Pilih jenis kelamin"
                          >
                            <option selected hidden>Jenis kelamin</option>
                            <option value="Laki-laki">Laki-laki</option>
                            <option value="Perempuan">Perempuan</option>
                          </select>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer d-flex justify-content-start continue" id="continue">
                    <a
                      href="bentuktubuh.html"
                      class="btn btn-warning tombolcontinue linktransisi fall-out-trigger" data-target="continue"
                      >Continue</a
                    >
                  </div>
                </div>
              </div>
            </div>
    
        <!---->

    <script src="../static/js/transisi2.js"></script>
    <script src="../static/js/transisi-jatoh2.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
